.top-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
}